# binários e objetos
bin/
obj/
*.o

# resultados gerados
resultados/
resultados-esperados/
datasets/

# ficheiros temporários
*.swp
*.log
*.tmp
*.zip

#garantir inclusão da pasta programa-main!!!:)
!programa-main/

# Ignorar datasets e resultados locais
trabalho-pratico/datasets/
trabalho-pratico/resultados/


# Ignorar datasets e resultados locais
trabalho-pratico/datasets/
trabalho-pratico/resultados/

