
#binários e objetos de compilação
*.o
*.out
*.exe

#diretórios de build
trabalho-pratico/obj/
trabalho-pratico/bin/

#ficheiros gerados automaticamente
#resultados produzidos durante os testes ou execução
trabalho-pratico/resultados/
trabalho-pratico/resultados-esperados/*_output.txt

#datasets 
trabalho-pratico/datasets/

#inclui ficheiros CSV originais do dataset
*.csv

#ficheiros temporários do editor e do sistema
*~
*.swp
*.tmp
*.log
*.zip
.DS_Store

#ficheiros de backup e cache
__pycache__/
*.bak

#diretórios duplicados acidentalmente criados
trabalho-pratico/trabalho-pratico/
programa-main/
dataset/
*.csv
